<div class='rectangle' id="<%= dom_id recipe %>">
    <h2> <%= link_to recipe.name, recipe %></h2>
     <% if can? :delete, recipe %>
   <div class="btn-destroy">
        <%= button_to "Delete", recipe_path(id: recipe.id), method: :delete %>
    </div>
    <% end %>
    <p class='shownot'><%= recipe.preparation_time %></p>
    <p class='shownot'><%= recipe.cooking_time %></p>
    <p class='info-desc'><%= recipe.description %></p>
</div>
