<p style="color: green"><%= notice %></p>
<div class='show-recipe'>
  <%= render @recipe %>
</div>

 <div>
        <div class='btn-shoplist'>
            <%= link_to "Generate shopping list", general_shopping_list_path %>
        </div>
        <div class='btn-addingred'>
            <%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe) %>
        </div>
    </div>

<table class='table'>
 <% if @recipe.recipe_foods.any? %>
    <thead>
        <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @recipe.recipe_foods.each do |food|%>
    <tr>
      <td><%= food.food.name%></th>
      <td><%= food.quantity%></td>
      <td><%= food.quantity * food.food.price %></td>
      <td>
        <%=link_to "Delete", recipe_recipe_food_path(@recipe, food), method: :delete%>
      </td>
    </tr>
    <%end%>
    </tbody>
  <%end%>
</table>

  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

</div>
