<div class="add-food">
<%= link_to "Add Food", new_food_path, class: "Add_food" %>
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Measurement Unit</th>
    <th>Unit Price</th>
    <th>Action</th>
  </tr>
  <% @foods.each_with_index do |food, index| %>
    <%= render food %>
  <tr>
    <td><%= food.name %></td>
    <td><%= food.measurement_unit %></td>
    <td><%= food.price %></td>
    <% if can? :delete, food %>
  <td><%= button_to "REMOVE", food_path(id: food.id), method: :delete %></td>
<% end %>
<% if cannot? :delete, food %>
  <td>No actions available</td>
<% end %>
  </tr>
    <% end %>
</table>